body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.ui.segment.basic {
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.ui.container {
    width: 90%;
    margin: 0 auto;
}

.ui.header {
    margin-top: 20px;
}

.ui.form {
    margin-top: 20px;
}

.ui.input,
.ui.checkbox,
.ui.radio.checkbox {
    margin-bottom: 10px;
}

.ui.button {
    background-color: #3498db;
    color: #fff;
    margin-bottom: 0.5rem;
}

.ui.info.message {
    margin-top: 20px;
}

.offline-message {
    color: #e74c3c;
    margin-top: 10px;
    text-align: center;
}

/* Estilo específico para telas pequenas (mobile) */
@media only screen and (max-width: 600px) {
    .ui.segment.basic {
        border-radius: 0;
    }

    .ui.container {
        width: 100%;
        padding: 20px;
    }

    .ui.header {
        font-size: 1.5em;
    }
}
