html,body{
  
}

.segment{
    background-color: transparent;
}

input{
    background-color: #BF4F74;
    color: white;
    font-size: 1rem;
    padding: 1rem 1.5em ;
    margin: 0.5em;
    border: none;
    border-radius:0.2rem;
    cursor: pointer;

    
}
input:hover{
        background-color: #8C2A4D;
    
}